COGNITO_USER_POOL_ID=us-east-1_xxxxx
COGNITO_CLIENT_ID=xxxxx
KMS_KEY_ID=arn:aws:kms:us-east-1:123456789012:key/xxxxx
USERS_TABLE=aws-console-better-users-dev
ACCOUNTS_TABLE=aws-console-better-accounts-dev
HISTORY_TABLE=aws-console-better-history-dev
BOOKMARKS_TABLE=aws-console-better-bookmarks-dev
NODE_ENV=development
PORT=3000
